/Hardware/BLDC_Motor_Driver/BLDC_Motor_Driver-backups/BLDC_Motor_Driver-2025-12-20_215152.zip
/Hardware/BLDC_Motor_Driver/BLDC_Motor_Driver-backups/BLDC_Motor_Driver-2025-12-27_213048.zip
/Hardware/BLDC_Motor_Driver/BLDC_Motor_Driver-backups/BLDC_Motor_Driver-2026-01-03_231928.zip
/Hardware/BLDC_Motor_Driver/BLDC_Motor_Driver-backups/BLDC_Motor_Driver-2026-01-04_003411.zip
/Hardware/BLDC_Motor_Driver/BLDC_Motor_Driver-backups/BLDC_Motor_Driver-2026-01-05_022140.zip
/Hardware/BLDC_Motor_Driver/BLDC_Motor_Driver-backups/BLDC_Motor_Driver-2026-01-05_025409.zip
/Hardware/BLDC_Motor_Driver/BLDC_Motor_Driver-backups/BLDC_Motor_Driver-2026-01-05_030228.zip
/Hardware/BLDC_Motor_Driver/BLDC_Motor_Driver-backups/BLDC_Motor_Driver-2026-01-05_051549.zip
/Hardware/BLDC_Motor_Driver/BLDC_Motor_Driver-backups/BLDC_Motor_Driver-2026-01-05_052710.zip
/Hardware/BLDC_Motor_Driver/BLDC_Motor_Driver-backups/BLDC_Motor_Driver-2026-01-05_054906.zip
/Hardware/BLDC_Motor_Driver/BLDC_Motor_Driver-backups/BLDC_Motor_Driver-2026-01-07_061357.zip
/Hardware/BLDC_Motor_Driver/BLDC_Motor_Driver-backups/BLDC_Motor_Driver-2026-01-07_070104.zip
/Hardware/BLDC_Motor_Driver/BLDC_Motor_Driver-backups/BLDC_Motor_Driver-2026-01-07_070845.zip
/Hardware/BLDC_Motor_Driver/BLDC_Motor_Driver-backups/BLDC_Motor_Driver-2026-01-07_111949.zip
/Hardware/BLDC_Motor_Driver/BLDC_Motor_Driver-backups/BLDC_Motor_Driver-2026-01-07_114059.zip
/Hardware/BLDC_Motor_Driver/BLDC_Motor_Driver-backups/BLDC_Motor_Driver-2026-01-07_152955.zip
/Hardware/BLDC_Motor_Driver/BLDC_Motor_Driver-backups/BLDC_Motor_Driver-2026-01-07_164810.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-01-09_201853.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-01-09_211019.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-01-09_213637.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-01-09_220249.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-01-10_110248.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-01-10_135408.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-01-10_150350.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-01-10_153847.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-01-10_183107.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-01-12_231819.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-01-17_150411.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-01-24_143242.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-01-24_155113.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-01-24_191048.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-01-24_192758.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-01-24_210936.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-01-26_010501.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-01-26_014514.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-01-31_212656.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-01-31_225729.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-02-02_012120.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-02-02_012707.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-02-02_014858.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-02-02_015508.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-02-02_030506.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-02-07_140604.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-02-02_032233.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-02-02_033711.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-02-08_011843.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-02-08_014406.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-02-08_015320.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-02-09_005356.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-02-09_011808.zip
/Firmware/.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/2.3.100.202501301211
/Firmware/.metadata/.plugins/org.eclipse.cdt.core/.log
/Firmware/.metadata/.plugins/org.eclipse.cdt.core/BLDC_MC_V1.1770506863548.pdom
/Firmware/.metadata/.plugins/org.eclipse.cdt.core/BLDC_MC_V1.language.settings.xml
/Firmware/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
/Firmware/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
/Firmware/.metadata/.plugins/org.eclipse.cdt.make.ui/dialog_settings.xml
/Firmware/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.c
/Firmware/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.cpp
/Firmware/.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
/Firmware/.metadata/.plugins/org.eclipse.core.resources/.history/3f/500841d5800400111d1afa8ef6e35f60
/Firmware/.metadata/.plugins/org.eclipse.core.resources/.history/91/e0f651de7e0400111d1afa8ef6e35f60
/Firmware/.metadata/.plugins/org.eclipse.core.resources/.history/f3/a0a38d9c7c0400111d1afa8ef6e35f60
/Firmware/.metadata/.plugins/org.eclipse.core.resources/.projects/BLDC_MC_V1/.indexes/af/history.index
/Firmware/.metadata/.plugins/org.eclipse.core.resources/.projects/BLDC_MC_V1/.indexes/properties.index
/Firmware/.metadata/.plugins/org.eclipse.core.resources/.projects/BLDC_MC_V1/.location
/Firmware/.metadata/.plugins/org.eclipse.core.resources/.projects/BLDC_MC_V1/.markers
/Firmware/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/Firmware/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/Firmware/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/Firmware/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
/Firmware/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/Firmware/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.st.stm32cube.common.preferences.prefs
/Firmware/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.st.stm32cube.ide.mcu.ide.oss.prefs
/Firmware/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-BLDC_MC_V1.prefs
/Firmware/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
/Firmware/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
/Firmware/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
/Firmware/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
/Firmware/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
/Firmware/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
/Firmware/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
/Firmware/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
/Firmware/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
/Firmware/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
/Firmware/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/Firmware/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
/Firmware/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/Firmware/.metadata/.bak_0.log
/Firmware/.metadata/.bak_1.log
/Firmware/.metadata/.ide.log
/Firmware/.metadata/.ide.log-2026-02-08.log
/Firmware/.metadata/.lock
/Firmware/.metadata/.log
/Firmware/.metadata/.log4j2.xml
/Firmware/.metadata/version.ini
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-02-09_012328.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-02-12_231905.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-02-13_104511.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-02-13_111459.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-02-13_114551.zip
/Hardware/BLDC_MC_V1.0/BLDC_MC_V1.0-backups/BLDC_MC_V1.0-2026-02-13_182613.zip
/Firmware/.metadata/.ide.log-2026-02-09.log
/Firmware/.metadata/.plugins/org.eclipse.core.resources/.root/3.tree
/Firmware/.metadata/.bak_2.log
/Firmware/.metadata/.plugins/org.eclipse.core.resources/.root/6.tree
/Firmware/.metadata/.bak_3.log
/Firmware/.metadata/.bak_4.log
/Firmware/.metadata/.ide.log-2026-02-13.log
/Firmware/.metadata/.ide.log-2026-02-20.log
